@import '../../css/_colours.scss';

.btn {
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    user-select: none;
    outline: none;
    transition: background-color .2s ease, color .2s ease;
}

.btn-pinkple:hover {
    background-color: #c468c4;
}

.btn-pinkple:active {
    background-color: #ae5bae;
}

.btn-green {
    background-color: #47e247;
}

.btn-pinkple {
    background-color: $pinkple;
    color: white;
}