.lg-cont {
    background-color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    padding: 20px;
    box-shadow: 0 0 20px 0;

    height: 200px;
    width: 300px;
    animation: lg-cont-fadein 1.5s;

    text-align: center;
}

.lg-cont form input[type="text"] {
    width: 60%;
    height: 30px;
}

@keyframes lg-cont-fadein {
    0% {
        transform: translate(-50%, -52.5%);
        opacity: 0;
    }
}

::placeholder {
    color: #99AAB5;
}